<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings file="Local.AppSettings.config">
    <!--
    <add key="PopServer" value="pop.gmail.com" />
    <add key="PopPort" value="995" />
    <add key="PopSSL" value="True" />

    <add key="PopUser" value="recent:kevin.sj1o5@gmail.com" />
    <add key="PopPassword" value="tmp_dev_password" />
    -->
    <!-- use this to seed the db without sending emails or entering referrals 
         it effectively syncs the previously processed referrals with the
         database, without actually processing anything.  -->
    <!--<add key="SeedMode" value="True" />
    <add key="LogPath" value="log.txt" />
    <add key="PopServer" value="outlook.office365.com" />
    <add key="PopPort" value="995" />
    <add key="PopSSL" value="True" />
    <add key="PopUser" value="referrals@appliedabc.com" />
    <add key="PopPassword" value="Kimblueberry613" />
    <add key="ValidationEmail" value="test1@example.com" />
    <add key="ErrorEmail" value="test2@example.com" />-->
  </appSettings>
  <connectionStrings configSource="Local.Connections.config">
    <!-- required connection names, CoreConnection (application db) -->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>