

<script id="dxss_AdminDataListsJs" type="text/javascript">
    $.getScript("/Scripts/Pages/AdminDataLists.js", function () {
        initDataListsScripts();
    });
</script>


<div class="section-expander" id="expander-referral-info">
    <div class="section-expander-header">
        <span>Authorizations</span>
    </div>
    <div class="section-expander-content">

        <div class="form-section">
            <div class="form-section-header"><span>Authorizations</span></div>
            <div class="form-section-content">
                <div class="form-section-content-col1">

                    <div id="DataListsAuthGridContainer"></div>

                </div>
                <div id="referral-dismissal-info" class="form-section-content-col2">

                    <div id="DataListsAuthDetailContainer"></div>

                </div>
            </div>
        </div>

    </div>
</div>

