<div class="footer">
    <div class="pull-right">
        <small></small>
    </div>
    <div>
        <strong>Copyright</strong> Applied Behavioral Mental Health Counseling &copy; 2016-@DateTime.Now.Year.ToString()
    </div>
</div>
