<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=WS-1A\DYMAPPS;initial catalog=aabc_aspnet_int;integrated security=SSPI" providerName="System.Data.SqlClient" />
  <add name="CoreConnection" connectionString="data source=WS-1A\DYMAPPS;initial catalog=aabc_data_int;integrated security=SSPI" providerName="System.Data.SqlClient" />
  <add name="ProviderPortalConnection" connectionString="data source=WS-1A\DYMAPPS;initial catalog=aabc_aspnet_providerportal_int;integrated security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>