<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ActiveSession.Abandon.Enabled" value="true"/>
    <add key="ActiveSession.Abandon.TimeoutMinutes" value="360"/>
    <add key="ActiveSession.DateCrossover.Cutoff.Enabled" value="true"/>
    <add key="ActiveSession.DateCrossover.Cutoff.Notification" value="true"/>
    <add key="ActiveSession.DateCrossover.Cutoff.NotificationMinutes" value="10"/>
    <add key="ActiveSession.GPS.TrackLeave" value="true"/>
    <add key="Communication.TimeoutSeconds" value="15"/>
    <add key="NoteEntry.AnswerValidation.Regex" value="^\s*\S+(?:\s+\S+){4,}\s*$"/>
    <add key="NoteEntry.AnswerValidation.Message" value="Please enter at least 5 words"/>
    <add key="ServerMode.Demo.Enabled" value="false"/>
    <add key="TestFeature.InPage.Enabled" value="true"/>
    <add key="TestFeature.TabNav.Enabled" value="true"/>
    <add key="Version.Client.Minimum" value="1.0.0.0"/>
    <add key="Version.Server" value="1.0.0.1234"/>
  </appSettings>
  <connectionStrings>
    <add name="CoreConnection" connectionString="data source=JACK-WORK\SQLEXPRESS2014;initial catalog=aabc_data_dev;integrated security=SSPI" providerName="System.Data.SqlClient" />
    <add name="ProviderPortalConnection" connectionString="data source=JACK-WORK\SQLEXPRESS2014;initial catalog=aabc_aspnet_providerportal_dev;integrated security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.0" newVersion="5.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.0" newVersion="5.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>