@model List<AABC.DomainServices.Hours.HourEx>

@foreach(var h in Model)
{
    <h2>@h.Date.ToString("MMM dd, yyyy") <span style="font-size:small;margin-left:10px;">@(h.BillableHours) hours total</span></h2>
    <hr />
    @Html.Action("MaxPerDayPerPatientDayHours", new { providerId = h.ProviderID, day = h.Date });

    <div class="spacer-10"></div>
}